*.py
ttv-*.md
Y_communication.md
images/*.png
images/*.jpg
images/*.jpeg
images/*.gif
images/*.webp
images/*.*
images/*
nextjs-app/scripts/optimize_images.js
nextjs-app/scripts/update_sanity_events.js
nextjs-app/scripts/optimize_announcers.js
nextjs-app/scripts/update_sanity_announcers.js
.DS_Store
**/.DS_Store
node_modules/
.env*

